---
---
<!DOCTYPE html>

<html>
    {% include head.html %}

    <body>
        {% include navbar.html fixed=true %}
        {% include jumbotron.html %}

        {% include components/slice_top.html %}
        {% include intro.html %}
        {% include components/slice_bottom.html %}

        {% include components/slice_top.html %}
        {% include faq.html %}
        {% include components/slice_bottom.html %}

        <div class="slice--invert">
            {% include components/slice_top.html %}
            {% include sponsors.html %}
            {% include components/slice_bottom.html %}
        </div>

        {% include footer.html %}
        {% include scripts.html %}
        <script src="lib/index.mjs" type="module"></script>
        {% include mlh.html %}
    </body>
</html>
