<div id="jump-events"></div>
<div class="events">
    
    <h1>Schedule</h1>
    
    <table>
        <thead>
            <tr>
                <td>Day</td>
                <td>Time</td>
                <td>Name</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Saturday</td>
                <td>12-1pm</td>
                <td>Opening Ceremony</td>
            </tr>
            <tr>
                <td></td>
                <td>1-2pm</td>
                <td>Something else</td>
            </tr>
            <tr>
                <td></td>
                <td>3-4pm</td>
                <td>blah blah blah</td>
            </tr>
            <tr>
                <td>Sunday</td>
                <td>12-1pm</td>
                <td>Another talk</td>
            </tr>
            <tr>
                <td></td>
                <td>3-4pm</td>
                <td>An event</td>
            </tr>
            <tr>
                <td></td>
                <td>4-5pm</td>
                <td>Closing Ceremony</td>
            </tr>
        </tbody>
    </table>
</div>