<section class="faq">
	<div class="faq__layout">
        {% comment %}
		<div class="faq__card">
			<i class="faq__cardicon far fa-square"></i>
			<h5 class="faq__cardtitle">Question</h5>
			<b class="faq__cardsubtitle">Answer</b>
			<p class="faq__cardinfo">Details</p>
		</div>
        {% endcomment %}
		<div class="faq__card">
			<i class="faq__cardicon fas fa-money-bill-wave"></i>
			<h5 class="faq__cardtitle">How much does it cost?</h5>
			<b class="faq__cardsubtitle">If accepted to the event, tickets are free.</b>
			<p class="faq__cardinfo">We also offer travel reimbursements. <!-- TODO: Add link --></p>
		</div>
		<div class="faq__card">
			<i class="faq__cardicon fas fa-door-open"></i>
			<h5 class="faq__cardtitle">Who may attend?</h5>
			<b class="faq__cardsubtitle">Any student currently enrolled in full-time further education may join. If you graduated less than a year ago, you're also eligible.</b>
			<p class="faq__cardinfo">Unfortunately, you can't participate if you're under 18.</p>
		</div>
		<div class="faq__card">
			<i class="faq__cardicon fas fa-code"></i>
			<h5 class="faq__cardtitle">I can't code, can I join?</h5>
			<b class="faq__cardsubtitle">Yes! If you're new to programming, a hackathon is the best place for you to go to.</b>
			<p class="faq__cardinfo">There'll be plenty of mentors ready to assist you with whatever problem you face.<br/>Don't hestitate to ask for help, we don't bite!</p>
		</div>
		<div class="faq__card">
			<i class="faq__cardicon fas fa-users"></i>
			<h5 class="faq__cardtitle">What about teams?</h5>
			<b class="faq__cardsubtitle">You can team up with up to three other people. Teams exceeding four people are ineligible for prizes.</b>
			<p class="faq__cardinfo">Don't worry if you haven't got a team &mdash; you're not alone. We'll help you form a team at the event, or you can hack solo!</p>
		</div>
		<div class="faq__card">
			<i class="faq__cardicon fas fa-shield-alt"></i>
			<h5 class="faq__cardtitle">What are the rules?</h5>
			<b class="faq__cardsubtitle">Our <a href="//mlh.io/code-of-conduct">Code of Conduct</a> lives here.</b>
			<p class="faq__cardinfo">To participate, you need to agree to follow all of the rules listed. This is so we can create a safe and welcoming environment for everyone.</p>
		</div>
		<div class="faq__card">
			<i class="faq__cardicon fas fa-university"></i>
			<h5 class="faq__cardtitle">What if I'm not a student?</h5>
			<b class="faq__cardsubtitle">We'd love to have you as a mentor!</b>
			<p class="faq__cardinfo">Please <a href="mailto:hello@hacktheburgh.com">email us</a> for more information.</p>
		</div>
	</div>
</section>
