<section class="faq">
	<p class="explanation">
		Hack the Burgh is a yearly hackathon hosted by University of Edinburgh students.
		It's open to all students, and is a great place to learn or practice programming, with a variety of challenges and talks from our sponsors.
	</p>
	<div class="faq__layout">
        {% comment %}
		<div class="faq__card">
			<i class="faq__cardicon far fa-square"></i>
			<h5 class="faq__cardtitle">Question</h5>
			<b class="faq__cardsubtitle">Answer</b>
			<p class="faq__cardinfo">Details</p>
		</div>
        {% endcomment %}
		<div class="faq__card">
			<i class="faq__cardicon fas fa-money-bill-wave"></i>
			<h5 class="faq__cardtitle">How much does it cost?</h5>
			<b class="faq__cardsubtitle">If accepted to the event, tickets are free.</b>
			<p class="faq__cardinfo">We also offer travel reimbursements. <!-- TODO: Add link --></p>
		</div>
		<div class="faq__card">
			<i class="faq__cardicon fas fa-door-open"></i>
			<h5 class="faq__cardtitle">Who may attend?</h5>
			<b class="faq__cardsubtitle">Any student currently enrolled in full-time further education may join. If you graduated less than a year ago, you're also eligible.</b>
			<p class="faq__cardinfo">Unfortunately, you can't participate if you're under 18.</p>
		</div>
		<div class="faq__card">
			<i class="faq__cardicon fas fa-code"></i>
			<h5 class="faq__cardtitle">I can't code, can I join?</h5>
			<b class="faq__cardsubtitle">Yes! If you're new to programming, a hackathon is the best place for you to go to.</b>
			<p class="faq__cardinfo">There'll be plenty of mentors ready to assist you with whatever problem you face.<br/>Don't hestitate to ask for help, we don't bite!</p>
		</div>
		<div class="faq__card">
			<i class="faq__cardicon fas fa-users"></i>
			<h5 class="faq__cardtitle">What about teams?</h5>
			<b class="faq__cardsubtitle">You can team up with up to three other people. Teams exceeding four people aren't eligible for prizes.</b>
			<p class="faq__cardinfo">Don't worry if you haven't got a team &mdash; you're not alone. We'll help you form a team at the event, or you can hack solo!</p>
		</div>
		<div class="faq__card">
			<i class="faq__cardicon fas fa-shield-alt"></i>
			<h5 class="faq__cardtitle">What are the rules?</h5>
			<b class="faq__cardsubtitle">Our <a href="//mlh.io/code-of-conduct">Code of Conduct</a> lives here.</b>
			<p class="faq__cardinfo">To participate, you need to agree to follow all of the rules listed. This is so we can create a safe and welcoming environment for everyone.</p>
		</div>
		<div class="faq__card">
			<i class="faq__cardicon fas fa-university"></i>
			<h5 class="faq__cardtitle">What if I'm not a student?</h5>
			<b class="faq__cardsubtitle">We'd love to have you as a mentor!</b>
			<p class="faq__cardinfo">Please <a href="mailto:hello@hacktheburgh.com">email us</a> for more information.</p>
		</div>
		<div class="faq__card">
			<i class="faq__cardicon fas fa-suitcase"></i>
			<h5 class="faq__cardtitle">What do I bring?</h5>
			<b class="faq__cardsubtitle">Yourself, and something to hack on.</b>
			<p class="faq__cardinfo">We'll be providing snacks and drinks throughout the weekend, but you need to bring your own device (and charger).</p>
		</div>
		<div class="faq__card">
			<i class="faq__cardicon fas fa-clock"></i>
			<h5 class="faq__cardtitle">Do I need a hotel?</h5>
			<!-- TODO: TBC -->
			<b class="faq__cardsubtitle">You can sleep over if you'd like.</b>
			<p class="faq__cardinfo">You'll probably want to bring a sleeping bag and some spare clothes. Unfortunately, we don't have showers.</p>
		</div>
		<div class="faq__card">
			<i class="faq__cardicon fas fa-head-side-mask"></i>
			<h5 class="faq__cardtitle">What will in-person be like?</h5>
			<b class="faq__cardsubtitle">We're still waiting to hear, but we'll be following government guidance throughout.</b>
			<!-- TODO: TBC -->
			<p class="faq__cardinfo">As we're in Scotland, you'll likely need to wear a mask at talks (unless exempt), and may be required to present proof of vaccination. We'll update you closer to the time with more details.</p>
		</div>
	</div>
</section>
