<head>
	<meta charset="utf8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/> <!-- please don't use IE -->

	<meta name="theme-color" content="#272A2B">

    <!-- facebook/opengraph -->
    <meta property="og:url" content="https://2021.hacktheburgh.com">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Hack the Burgh 2021">
    <meta property="og:description" content="{{ site.description }}">
    <meta property="og:image" content="https://2021.hacktheburgh.com/static/logos/preview.png">

    <!-- twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="2021.hacktheburgh.com">
    <meta property="twitter:url" content="https://2021.hacktheburgh.com">
    <meta name="twitter:title" content="Hack the Burgh 2021">
    <meta name="twitter:description" content="{{ site.description }}">
    <meta name="twitter:image" content="https://2021.hacktheburgh.com/static/logos/preview.png">

	<title>Hack the Burgh 2022</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

	<meta name="description" content="{{ site.description }}"/>
	<link rel="stylesheet" href="static/index.css" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide@3.4.1/dist/css/glide.core.min.css" integrity="sha256-Ev8y2mML/gGa4LFVZgNpMTjKwj34q4pC4DcseWeRb9w=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide@3.4.1/dist/css/glide.theme.min.css" integrity="sha256-sw/JiPOV1ZfcXjqBJT1vqaA4vBGeiqn+b7PDhVv4OA4=" crossorigin="anonymous">
	<link rel="icon" href="/static/logos/favicon.png" type="image/png">
</head>

