<div class="intro-block">
    <div class="intro-block__aside">
        <i class="fas fa-laptop-house"></i>
    </div>
    <div class="intro-block__main">
        <h1>The Hack from beyond the wall goes online!</h1>
        <p>
            Hack the Burgh is one of the largest student-run hackathons in the UK, and we are back for another year! This is an event where technology enthusiasts come together to be creative, build
innovative programming projects, learn new skills, and network with tech companies!
        <p>
        </p>
Students work in teams of up to 4 people and compete in various
challenges presented by our awesome sponsors!
        </p>
    </div>
</div>
