<div class="jumbotron" id="jumbotron">
    <div class="jumbotron__content">
        <canvas class="jumbotron__logo" id="jumbotron-logo" width="100" height="100"></canvas>
        <div class="jumbotron__square">
            <div class="jumbotron__subtitle">
                November 2021 &bull; In person & Online
            </div>
            <div class="jumbotron__buttons">
                <a href="{{ site.links.register }}">
                    register
                </a>
                <a href="{{ site.links.volunteer }}">
                    volunteer
                </a>
            </div>
            <div class="jumbotron__socials">
                <!-- TODO: Make sure these are all correct -->
                <a href="#"><i role="img" aria-label="Facebook" class="fab fa-facebook"></i></a>
                <a href="https://twitter.com/hacktheburgh"><i role="img" aria-label="Twitter" class="fab fa-twitter"></i></a>
                <a href="https://instagram.com/hacktheburgh"><i role="img" aria-label="Instagram" class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
</div>

</div>

<canvas id="indexScene"></canvas>