{% include components/slice_top.html %}
<div class="location">
    <div class="map">
        <iframe style="border:0" loading="lazy" allowfullscreen src="https://www.google.com/maps/embed/v1/place?q=Informatics%20Forum&key=AIzaSyBhIxBaDkbSSogpJ9D-zVPLmt64p_M-5I0"></iframe> 
    </div>
    <div class="directions">
        <h1>Where to find us</h1>
        <p>This year, we'll be at the Informatics Forum, located in the heart of Edinburgh.</p>
        
        <h2>By Public Transport</h2>
        <p>If you're travelling by train, <a href="https://goo.gl/maps/9u4mpBPU26o8vkeF6">Waverely Station</a> is only 10-15 minutes walk away - just head down South Bridge until you get to South College street, then walk down Potterrow.</p>
        <p>If you're travelling from outside Edinburgh by bus, you'll likely arrive at St. Andrew's Station, and can follow the same route.</p>
        <p><a href="https://www.ed.ac.uk/transport/travelling-here/central-area/">The university website has more details on how to get to campus.</a></p>

        <h2>By Car</h2>
        <p>The nearest car park is <a href="https://goo.gl/maps/APauafXWt8rbCjgA6">Q-Park Quartermile</a>, about 2 minutes walk away. You can also park on <a href="https://goo.gl/maps/Cg2hAtWwVghZp1bZ6">Holyrood Road</a>, or on <a href="https://goo.gl/maps/mPVuZJiF41uQNBKs9">Castle Terrace</a></p>
    </div>

    <div class="online">
        <!-- TODO: Stuff for online attendees? If we're streaming things, etc. -->
    </div>
</div>
{% include components/slice_bottom.html %}
{% include components/slice_top.html %}
<div class="reimbursements">
    <h1>Travel Reimbursements</h1>
    <p>If you are arriving from outside of Edinburgh, we may able to reimburse your travel. Please not that reimbursements are not guaranteed.</p>

    <table>
        <thead>
            <tr>
                <td>Region</td>
                <td>Amount</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Scotland (excl Edinburgh)</td>
                <td>up to £20</td>
            </tr>
            <tr>
                <td>Northern England & Midlands</td>
                <td>up to £40</td>
            </tr>
            <tr>
                <td>Southern England and EU</td>
                <td>up to £50</td>
            </tr>
        </tbody>
    </table>
</div>
{% include components/slice_bottom.html %}
