{% include components/slice_top.html %}
<div class="location">
    <div class="map">
        <iframe style="border:0" loading="lazy" allowfullscreen src="https://www.google.com/maps/embed/v1/place?q=Hilton%20Edinburgh%20Carlton&key=AIzaSyBhIxBaDkbSSogpJ9D-zVPLmt64p_M-5I0"></iframe> 
    </div>
    <div class="directions">
        <h1>Where to find us</h1>
        <p>This year, we'll be at the Hilton Carlton, located in the heart of Edinburgh.</p>
        
        <p>If you're travelling by train, <a href="https://goo.gl/maps/9u4mpBPU26o8vkeF6">Waverley Station</a> is only a few minutes walk away.</p>
        <p>If you're travelling from outside Edinburgh by bus, you'll likely arrive at St. Andrew's Station - just cross George IV Bridge and you'll be there.</p>
    </div>

    <div class="online">
        <!-- TODO: Stuff for online attendees? If we're streaming things, etc. -->
    </div>
</div>
{% include components/slice_bottom.html %}
{% include components/slice_top.html %}
<div class="reimbursements">
    <h1>Travel Reimbursements</h1>
    <p>If you are arriving from outside of Edinburgh, we may be able to reimburse your travel. Please note that reimbursements are not guaranteed.</p>

    <table>
        <thead>
            <tr>
                <td>Region</td>
                <td>Amount</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Scotland (excl Edinburgh)</td>
                <td>up to £20</td>
            </tr>
            <tr>
                <td>Northern England & Midlands</td>
                <td>up to £40</td>
            </tr>
            <tr>
                <td>Southern England and EU</td>
                <td>up to £50</td>
            </tr>
        </tbody>
    </table>
</div>
{% include components/slice_bottom.html %}
