<nav class="navbar {% if include.fixed %}navbar-fixed {% endif %}">
    <a href="/" class="logo" id="navbar-logo"><img src="static/logos/index_nav.png" alt="Logo"></a>
    <ul class="items-left">
        <li><a href="#jumbotron">About</a></li>
        <li><a href="#jump-past-projects">Past Projects</a></li>
        <li><a href="#jump-location">Travel & Reimbursements</a></li>
        <li><a href="#jump-sponsors">Sponsors</a></li>
        <li><a href="https://facebook.com/hacktheburgh"><i class="fab fa-facebook"></i></a></li>
        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
        <li><a href="https://twitter.com/hacktheburgh"><i class="fab fa-twitter"></i></a></li>
        <li><a href="https://instagram.com/hacktheburgh"><i class="fab fa-instagram"></i></a></li>
    </ul>
    <div class="expand">
        <button onClick="toggleActive('#navbarPopout')">
            <i class="fas fa-bars" aria-label="Expand"></i>
        </button>
    </div>
    
</nav>

<nav id="navbarPopout" aria-role="dialog">
    <ul class="items">
        <li aria-role="button" onClick="toggleActive('#navbarPopout')"><a>Close</a></li>
        <li><a href="#jumbotron">About</a></li>
        <li><a href="#jump-past-projects">Past Projects</a></li>
        <li><a href="#jump-location">Location</a></li>
        <li><a href="#jump-travel-reimbursements">Travel reimbursements</a></li>
        <li><a href="https://facebook.com/hacktheburgh">Facebook</a></li>
        <li><a href="#">Youtube</a></li>
        <li><a href="https://twitter.com/hacktheburgh">Twitter</a></li>
        <li><a href="https://instagram.com/hacktheburgh">Instagram</a></li>
    </ul>
</nav>