<nav class="navbar {% if include.fixed %}navbar-fixed {% endif %}">
    <a href="/" class="logo" id="navbar-logo"><img src="static/logos/index_nav.png" alt="Logo"></a>
    <ul class="items-left">
        <li>One</li>
        <li>Two</li>
        <li>Three</li>
    </ul>
    <div class="expand">
        <button onClick="toggleActive('#navbarPopout')">
            ...
        </button>
    </div>
    
</nav>

<nav id="navbarPopout">
    <ul class="items">
        <li onClick="toggleActive('#navbarPopout')">Close</li>
        <li>One</li>
        <li>Two</li>
        <li>Three</li>
    </ul>
</nav>