<div class="numbers">
    <div class="number-container">
        <span class="number countUp" data-countup-target="8">0</span>
        <span class="number-caption">years</span>
    </div>
    <div class="number-container">
        <span class="number countUp" data-countup-target="200" data-countup-suffix="+">0+</span>
        <span class="number-caption">students</span>
    </div>
    <div class="number-container">
        <span class="number countUp" data-countup-target="50" data-countup-suffix="+">0+</span>
        <span class="number-caption">teams</span>
    </div>
</div>