<div id="jump-past-projects"></div>
<div class="projects">
    <h1>Past Projects</h1>
    <div class="glide">
        <div class="glide__track" data-glide-el="track">
            <ul class="glide__slides">
                <li class="glide__slide">
                    <div class="project">
                        <img src="static/projects/pixeleconomy.png" alt="Pixel Economy" class="project__img">
                        <h2><a href="https://devpost.com/software/pixeleconomy">Pixel Economy</a></h2>
                        <p>
                            PixelEconomy is an online, virtual marketplace for creating, selling and buying pixel art that makes learning the fundamentals of trading fun and accessible.
                            <br>
                            Best of Show in 2020.
                        </p>
                    </div>
                </li>
                <li class="glide__slide">
                    <div class="project">
                        <img src="static/projects/bread.png" alt="Is it bread?" class="project__img">
                        <h2><a href="https://devpost.com/software/is-it-bread">Is it bread?</a></h2>
                        <p>
                            Have you ever looked at an item and thought, "Is that bread?". Can you really trust yourself to make that judgement? Fear not, we have an intelligent app to decide that for you. 
                            <br>
                            Uses Google Cloud's advanced image recognition technology to determine if an image contains bread.
                        </p>
                    </div>
                </li>
                <li class="glide__slide">
                    <div class="project">
                        <img src="static/projects/minepi.png" alt="MinePi" class="project__img">
                        <h2><a href="https://devpost.com/software/minepi">MinePi</a></h2>
                        <p>
                            A mod to let you control your Raspberry pi from Minecraft.
                            <br>
                            Runner-Up for best hardware hack in 2020.
                        </p>
                    </div>
                </li>
                <li class="glide__slide">
                    <div class="project">
                        <img src="static/projects/edna.png" alt="Edna" class="project__img">
                        <h2><a href="https://devpost.com/software/edna-a-writing-chat-bot">Edna</a></h2>
                        <p>
                            A mod to let you control your Raspberry pi from Minecraft.
                            <br>
                            Runner-Up for best hardware hack in 2020.
                        </p>
                    </div>
                </li>
            </ul>
        </div>
        
        
        <div class="glide__arrows" data-glide-el="controls">
            <button class="glide__arrow glide__arrow--left" data-glide-dir="<"><i aria-role="img" aria-label="Previous" class="fas fa-chevron-left"></i></button>
            <button class="glide__arrow glide__arrow--right" data-glide-dir=">"><i aria-role="img" aria-label="Next" class="fas fa-chevron-right"></i></button>
        </div>
    </div>
</div>
