<div id="jump-past-projects"></div>
<div class="projects">
    <h1>Past Projects</h1>
    <div class="glide">
        <div class="glide__track" data-glide-el="track">
            <ul class="glide__slides">
                <li class="glide__slide">
                    <div class="project">
                        <img src="https://via.placeholder.com/500/8f6e6e/ffffff" alt="Project Name" class="project__img">
                        <h2>Project 1</h2>
                        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eu suscipit magna, et mattis eros. Integer tristique convallis volutpat. Ut imperdiet turpis urna, sed aliquet magna blandit sit amet. Aenean ullamcorper eros nisi, non tempor leo vestibulum non. Nam ut lacinia erat. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec iaculis maximus enim. Quisque malesuada bibendum urna eget suscipit. </p>
                    </div>
                </li>
                <li class="glide__slide">
                    <div class="project">
                        <img src="https://via.placeholder.com/500/6e8f6e/ffffff" alt="Project Name" class="project__img">
                        <h2>Project 2</h2>
                        <p> Curabitur nec libero eleifend, dictum dolor vitae, elementum dui. Aenean viverra velit arcu, a porttitor velit laoreet eget. Donec vehicula nisi turpis, et varius risus interdum ut. Maecenas placerat, est in euismod tempus, urna dui pellentesque erat, sed posuere justo ligula aliquet lacus. Mauris et bibendum augue. Curabitur mollis neque magna, sit amet imperdiet dui elementum vitae. Vestibulum suscipit aliquet metus, id ultricies ipsum vulputate eget. Mauris et purus sed mi maximus feugiat eget quis lectus. Curabitur et sagittis tellus. Etiam lobortis blandit arcu eu dictum. Sed eros neque, ultricies quis sem ut, vestibulum tincidunt mauris. Morbi dignissim odio ex, eget iaculis sapien vulputate eget. Nunc ut varius velit, vel mattis libero. </p>
                    </div>
                </li>
                <li class="glide__slide">
                    <div class="project">
                        <img src="https://via.placeholder.com/500/6e6e8f/ffffff" alt="Project Name" class="project__img">
                        <h2>Project 3</h2>
                        <p> Vestibulum commodo id eros sit amet pulvinar. Phasellus sit amet sapien orci. Aenean pulvinar eget est sed suscipit. Maecenas dignissim semper rhoncus. Sed dui nisl, aliquam non vestibulum et, tempor nec risus. Fusce facilisis efficitur mi vel convallis. Aliquam bibendum aliquet eros, eget gravida augue commodo quis. Aenean egestas nisl eget nunc blandit gravida. Sed ultrices mauris dui, vel dignissim odio imperdiet quis. Nullam non vehicula urna, sed sodales eros. Sed eget posuere leo. Interdum et malesuada fames ac ante ipsum primis in faucibus. </p>
                    </div>
                </li>
            </ul>
        </div>
        
        
        <div class="glide__arrows" data-glide-el="controls">
            <button class="glide__arrow glide__arrow--left" data-glide-dir="<"><i aria-role="img" aria-label="Previous" class="fas fa-chevron-left"></i></button>
            <button class="glide__arrow glide__arrow--right" data-glide-dir=">"><i aria-role="img" aria-label="Next" class="fas fa-chevron-right"></i></button>
        </div>
    </div>
</div>
