<div id="jump-sponsors"></div>
<div class="sponsors">
    <hr>
    <div class="gold">
        <h1>Gold</h1>
        <div class="items">
            <a href="//optiver.com" target="_blank" rel="nofollow">
                <img src="/static/partners/optiver.png" alt="Optiver">
            </a>
            <a href="//mwam.com" target="_blank" rel="nofollow">
                <img src="/static/partners/marshall_wace.png" alt="Marshall Wace">
            </a>
        </div>
    </div>
    <hr>
    <div class="partner">
        <h1>Partners</h1>
        <div class="items">
            <a href="//comp-soc.com" target="_blank" rel="nofollow">
                <img src="/static/logos/compsoc-logo.png" alt="CompSoc">
            </a>
            <a href="https://hackathons.org.uk/" target="_blank" rel="nofollow">
                <img src="/static/partners/hackuk.svg" alt="Hackathons UK">
            </a>
        </div>
    </div>
</div>