<div class="sponsors">
    <div class="platinum">
        <h1>Platinum</h1>
        <div class="items">
            <a href="//blackrock.com" target="_blank" rel="nofollow">
                <img src="/static/partners/blackrock.png" alt="blackrock logo">
            </a>
        </div>
    </div>
    <div class="gold">
        <h1>Gold</h1>
        <div class="items">
            <a href="//optiver.com" target="_blank" rel="nofollow">
                <img src="/static/partners/optiver.png" alt="optiver logo">
            </a>
        </div>
    </div>
    <div class="silver">
        <h1>Silver</h1>
        <div class="items">
            <a href="//www.gresearch.co.uk/" target="_blank" rel="nofollow" class="silver__gresearch">
                <img src="/static/partners/gresearch.svg" alt="g research logo">
            </a>
            <a href="//thoughtmachine.net/" target="_blank" rel="nofollow">
                <img src="/static/partners/thoughtmachine.png" alt="thought machine logo">
            </a>
        </div>
    </div>
    <div class="bronze">
        <h1>Bronze</h1>
        <div class="items">
            <a href="//craneware.com" target="_blank" rel="nofollow">
                <img src="/static/partners/craneware.svg" alt="craneware logo">
            </a>
        </div>
    </div>
    <div class="partner">
        <h1>Partners</h1>
        <div class="items">
            <a href="//hackathons.org.uk/" target="_blank" rel="nofollow" class="hackuk">
                <img src="/static/partners/hackuk.svg" alt="hackuk logo">
            </a>
            <a href="//hackp.ac/mlh-stickermule-hackathons" target="_blank" rel="nofollow">
                <img src="/static/partners/stickermule.png" class="partner__stickermule" alt="stickermule logo">
            </a>
            <a href="//comp-soc.com" target="_blank" rel="nofollow">
                <img src="/static/logos/compsoc-logo.png" alt="compsoc logo">
            </a>
        </div>
    </div>
</div>