<div class="slice--invert">
    {% include components/slice_top.html %}
    <div class="sponsors">
        <h1>Platinum</h1>
        <div class="platinum">
            <a href="//blackrock.com" target="_blank" rel="nofollow">
                <img src="/static/partners/blackrock.png" alt="blackrock logo">
            </a>
        </div>
        <h1>Gold</h1>
        <div class="gold">
            <a href="//optiver.com" target="_blank" rel="nofollow">
                <img src="/static/partners/optiver.png" alt="optiver logo">
            </a>
        </div>
        <h1>Silver</h1>
        <div class="silver">
            <a href="//www.gresearch.co.uk/" target="_blank" rel="nofollow" class="silver__gresearch">
                <img src="/static/partners/gresearch.svg" alt="g research logo">
            </a>
            <a href="//thoughtmachine.net/" target="_blank" rel="nofollow">
                <img src="/static/partners/thoughtmachine.png" alt="thought machine logo">
            </a>
        </div>
        <h1>Bronze</h1>
        <div class="bronze">
            <a href="//craneware.com" target="_blank" rel="nofollow">
                <img src="/static/partners/craneware.svg" alt="craneware logo">
            </a>
        </div>
        <h1>Partners</h1>
        <!-- some hacky positioning in here to make things work -->
        <div class="partner" style="padding-bottom: 15px;">
            <a href="//hackathons.org.uk/" target="_blank" rel="nofollow">
                <img src="/static/partners/hackuk.svg" alt="hackuk logo" style="margin-bottom: -15px; z-index: 1;">
            </a>
            <a href="//hackp.ac/mlh-stickermule-hackathons" target="_blank" rel="nofollow">
                <img src="/static/partners/stickermule.png" class="partner__stickermule" alt="stickermule logo">
            </a>

            <a href="//comp-soc.com" target="_blank" rel="nofollow">
                <img src="/static/logos/compsoc-logo.png" alt="compsoc logo">
            </a>
        </div>
    </div>
</div>