$text: white;
$text-accent: #45C4FF;
$text-inverse: black;
$background_inverse: #FFFFFF;

$primary: #2BBAFD;
$primary-darker: #0F7DB0;
$primary-lighter: #45C4FF;
$accent: #B06000;
$accent-lighter: #FC9D2B;
$background: #000000;
$content__background: $primary-darker;

$text__color: white;
$text__accent:$accent-lighter;
$content__background: $primary-darker;
$content__text: $text;
$sponsor__background: #F8F2F2;
