$text__color: white;
$text__accent: rgb(218, 55, 50);
$content__background: rgba(30, 17, 16, 1);
$content__text: #eee;
$sponsor__background: #FFFFFF;

$text: white;
$text-accent: #45C4FF;
$text-inverse: black;
$background_inverse: #FFFFFF;

$primary: #2BBAFD;
$primary-darker: #0F7DB0;
$primary-lighter: #45C4FF;
$accent: #B06000;
$accent-lighter: #FC9D2B;
$background: #000000;