$text__color: white;
$text__accent: rgb(218,55,50);
$content__background: rgba(30, 17, 16, 1);
$content__text: #eee;
$sponsor__background: #FFFFFF;
//$sponsor__background: #F8F2F2;
//$sponsor__background: #E2CCCA;
