.events {
    background: $content__background;
    
    padding: 3rem 5vw;
    @include media-desktop {
        padding: 3rem 10vw !important;
    }
    
    h1 {
        text-align: center;
        font-family: 'Oswald', sans-serif;
        font-weight: bold;
        font-size: 4rem;
    }
    
    table {
        width: 100%;
        border-collapse: collapse;
        
        thead {
            border-bottom: 3px solid white;
        }
        td {
            padding: 2rem;
            font-size: 1.6rem;
        }
        
        td:first-child {
            font-weight: bold;
        }
        
        tr:nth-child(even) {
            background: darken($content__background, 1.1);
        }
    }
    
}