@import 'media';
@import 'colors';

.footer {
	padding: 20px 40px 20px 40px;

	font-size: 0.8em;
	color: $content__text;
	font-weight: bold;
	background-color: $content__background;

	display: flex;
	flex-direction: column;

	@include media-desktop {
		flex-direction: row;
	}

	align-items: center;
	justify-content: space-between;

	a {
		color: $content__text;
	}
}

.footer-left {

	>a>.heart {
		color: white;
		transition: color 0.2s cubic-bezier(0, 0, 0.3, 1);
		transform-origin: 50% 50%;
	}

	&:hover {
		>a>.heart {
			color: #d50012 !important;
		}
	}
}