.location {
    display: grid;
    background: $content__background;
    margin: 0 auto;
    padding: 0 10%;
    grid-template-columns: 1fr;

    @include media-desktop {
        grid-template-columns: 1fr 1fr;
    }

    .map iframe {
        width: 100%;
        height: 50vh;
    }

    .directions {
        @include media-desktop {
            padding: 0 2rem;
        }
    }

    h1 {
        font-family: 'Oswald', sans-serif;
        font-size: 3rem;
        margin: 0.1rem;
    }

    h2 {
        font-size: 1rem;
        font-weight: bolder;
    }

}

#jump-location {
    height: 2rem;
    width: 100%;
}