.location {
    display: grid;
    width: 70%;
    margin: 0 auto;
    margin-top: 2rem;
    grid-template-columns: 1fr;

    @include media-desktop {
        grid-template-columns: 1fr 1fr;
    }

    .map iframe {
        width: 100%;
        height: 50vh;
    }

    .directions {
        padding: 0 2rem;
    }

}