.location {
    display: grid;
    background: $content__background;
    margin: 0 auto;
    padding: 0 10%;
    grid-template-columns: 1fr;

    @include media-desktop {
        grid-template-columns: 1fr 1fr;
    }

    .map iframe {
        width: 100%;
        height: 50vh;
    }

    .directions {
        @include media-desktop {
            padding: 0 2rem;
        }
    }

    h1 {
        font-family: 'Oswald', sans-serif;
        font-size: 3rem;
        margin: 0.1rem;
    }

    h2 {
        font-size: 1rem;
        font-weight: bolder;
    }

}

.reimbursements {
    background: $content__background;
    padding: 10vh 0;

    text-align: center;

    table {
        width: 40%;
        margin: 0 auto;
        margin-top: 6vh;
        text-align: left;
        border-collapse: collapse;

        thead {
            font-weight: bold;
            text-transform: uppercase;
        }

        td:first-child {
            font-weight: bold;
        }

        td {
            padding: 0.4rem 1rem;
        }
    }
}

#jump-location {
    height: 2rem;
    width: 100%;
}