@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#mlh-trust-badge {
    animation-delay: 1s;
    animation-name: fadein;
    animation-duration: 2s;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0,0,0.3,1);
    
}
@include media-mobile {
    #mlh-trust-badge {
        display: none !important;
    }
}
