@import "colors";

.slice--invert .slice {
    background: $sponsor__background !important;
}

.slice {
    width: 100%;
    height: 5rem;

    @include media-desktop {
        height: 10rem;
    }

    display: block;

    background: $content__background;

    /* TODO: Not sure why this is needed, but it goes over the navbar if it's not here */
    position: relative;
    z-index: -1;

    &__top {
        margin-top: 2rem;
        clip-path: polygon(100% 0%, 100% 100%, 0% 100%);
        /* Bottom left to top right */
    }

    &__bottom {
        margin-bottom: 2rem;
        clip-path: polygon(100% 0%, 0% 0%, 0% 100%);
        /* Bottom right to top left */
    }
}