@import "colors";

.sponsors {
    background-color: $sponsor__background;
    color: black;

    padding-bottom: 5rem;

    text-align: center;

    >h1 {
        border-bottom: 3px solid black;
        padding: 0 0.2rem;
        box-sizing: border-box;
        display: inline;
        margin: 0 auto;
        text-transform: uppercase;
        font-family: 'Oswald', sans-serif;

        &:first-child {
            margin-top: 0;

            padding-top: 1em;

            @include media-desktop {
                padding-top: 0;
            }
        }
    }
}


.platinum,
.gold,
.silver,
.bronze,
.partner {
    display: flex;
    flex-direction: column;
    padding-top: 3rem;

    @include media-desktop {
        flex-direction: row;
        flex-wrap: wrap;
    }

    align-items: center;
    justify-content: center;

    a {
        width: 75%;

        img {
            width: 100%;
        }

        margin: 0 3rem;
        margin-bottom: 3rem;
    }
}

@include media-desktop {
    .platinum a {
        width: 40%;
    }

    .gold a {
        width: 25%;
    }

    .partner a {
        width: 20%;
    }
}



.silver a,
.bronze a {
    @include media-desktop {
        width: 20%;
    }

    &.silver__gresearch {
        width: 25%;

        @include media-desktop {
            width: 7%;
        }
    }
}