name: Pages

on:
  push:
    branches:
      - master

jobs:
  pages:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install Node.js
        uses: actions/setup-node@v1
        with:
          node-version: '12.x'
          cache: 'npm'
      - name: Install Node Dependencies
        run: npm install
      - name: Cache Ruby Dependencies
        uses: actions/cache@v2
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-gems-${{ hashFiles('**/Gemfile') }}
          restore-keys: |
            ${{ runner.os }}-gems-
      - name: Build Jekyll site
        uses: helaili/jekyll-action@v2
        with:
          build_only: true
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Build Minified JS
        run: |
          sudo chown -R $USER build/
          sudo chmod -R 755 build/
          "npx rollup lib/index.mjs --format iife --file build/lib/index.min.js -p rollup-plugin-terser"
      #- name: Add CNAME file
      #  run: echo "2021.hacktheburgh.com" > build/CNAME
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build
          publish_branch: gh-pages
          user_name: 'github-actions[bot]'
          user_email: 'github-actions[bot]@users.noreply.github.com'